.nodeco {
    text-decoration: none;
    color: white;
}

.nodeco:hover {
    color: cornflowerblue;
    text-decoration: none; !important;
}

table, th, td {
    border: 1px solid darkgray;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

.odsazeni {
    padding-left: 20px;
}