body {
    background-color: white;
    background-image: url("background.jpg");

}

.nodeco {
    text-decoration: none;
    color: white;
}

.nodeco:hover {
    color: cornflowerblue;
    text-decoration: none; !important;
}

table {
    margin-bottom: 30px;
}

table, th, td {
    border: 1px solid darkgray;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

.odsazeni {
    padding-left: 20px;
}

a {
    padding: 2px;
    margin: 3px;
}

.caranahore {
    border-top: 2px solid gray;
}

.btn-prani {
    margin-bottom: 8px;
}